{% extends 'todo/base.html' %}
{% block title%}Авторизация{% endblock %}
{% block content%}
    <div class="row justify-content-center align-items-center g-2 text-center">
        <div class="col-lg-6 col-md-12">
            <h1>Авторизация</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">Имя пользователя</label>
                  <input type="text" name="username" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Пароль</label>
                  <input type="password" name="password" class="form-control"">
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
              </form>
        </div>
    </div>
{% endblock%}